<!--<header>
    <h1><a href='{{ site.url }}/'>{{ site.name }}</a></h1>
</header>
<a href='{{ site.url }}/'> Home</a> | <a href='{{ site.url }}/about/'>About </a> | <a href='{{ site.url }}/contact/'> Contacts</a> | <a href='{{ site.url }}/archive/'> Archive</a>
<hr>-->
<link rel="stylesheet" href="css/main.css">
<meta charset='utf-8'>
<div id="wrapper">
    <div id="header">
        <div id="logo">
        </div>
        <div id="primary_links">
            <button style="margin-left: 40px"><a href="index.html">Home</a></button>
            <button style="margin-left: 40px"><a href="final-test/aboutme.html">About</a></button>
            <button style="margin-left: 40px"><a href="../projects.html">Projects</a></button>
            <button style="margin-left: 40px"><a href="../writing.html">Writing</a></button>
            <button style="margin-left: 40px"><a href="../resume.html">Resume</a></button>
            <button style="margin-left: 40px"><a href="../contact.html">Contacts</a></button>
        </div>
    </div>
    <div id="masthead">
    </div>
</div>
